* {
  box-sizing: border-box; }

body {
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
  color: white; }

nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  transition: 0.3s; }
  nav .logo-section {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    nav .logo-section .logo {
      font-size: 15px;
      padding: 10px;
      border-right: 1px solid #ffffff52;
      display: flex; }
      nav .logo-section .logo .menu-logo-img {
        margin-right: 5px;
        width: 20px; }
    nav .logo-section .tel-logo-section {
      padding: 5px;
      margin-left: 10px; }
      nav .logo-section .tel-logo-section .tel-logo-call-img {
        width: 13px; }
      nav .logo-section .tel-logo-section .tel-logo-section-number {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 15px; }
  nav .logo-section-mobile {
    width: 100%;
    margin-left: 0;
    background-color: #524496; }
  nav .nav-items {
    height: calc(100vh - 62px);
    background: linear-gradient(slateblue, #aea3f3);
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transform: translateX(-385px); }
    nav .nav-items ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      nav .nav-items ul li {
        font-size: 30px;
        padding: 15px;
        list-style-type: none; }
    nav .nav-items a {
      font-size: 30px; }
    nav .nav-items button {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.178);
      color: #fff;
      border: none;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      border-radius: 30px;
      padding: 20px;
      margin-top: 30px; }
  nav .nav-items-active {
    transform: translateX(0px); }

.nav-background {
  background-color: transparent; }

header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#524496, #6d5dc0, #a89ce6);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column; }
  header .banner-left {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 75px; }
    header .banner-left h1 {
      position: relative;
      margin: 0;
      text-align: left; }
      header .banner-left h1::before {
        content: "";
        position: absolute;
        background-color: #fff6ff;
        width: 20%;
        height: 3px;
        top: -10px;
        left: 0px; }
    header .banner-left p {
      margin: 0;
      text-align: left;
      max-width: 300px; }
    header .banner-left button {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: #fff;
      color: #5645af;
      border: none;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      border-radius: 30px;
      padding: 20px 40px 20px 40px;
      margin-top: 20px; }
      header .banner-left button:last-of-type {
        color: #fff;
        background-color: transparent;
        border: 1px solid white;
        padding: 20px 30px 20px 30px; }

.banner-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px; }
  .banner-right .banner-right-pictures .banner-right-pictures-img {
    width: 300px;
    height: 300px; }

.hamburger {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  margin: 0;
  position: fixed;
  left: 10px;
  top: 15px;
  outline: none;
  border-radius: 5px;
  background-color: transparent; }

.hamburger-box {
  left: 0;
  width: 37px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 5px; }

.hamburger-inner {
  width: 100%;
  height: 3px;
  background: grey;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out; }
  .hamburger-inner::before {
    width: 100%;
    height: 3px;
    background: grey;
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out; }
  .hamburger-inner::after {
    width: 100%;
    height: 3px;
    background: grey;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out; }

.hamburger-active .hamburger-inner {
  background-color: transparent; }

.hamburger-active .hamburger-inner::before {
  transform: translateY(10px) rotate(-45deg); }

.hamburger-active .hamburger-inner::after {
  transform: translateY(-10px) rotate(45deg); }

.conference-calls {
  padding: 20px;
  margin-top: 40px;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .conference-calls h2 {
    font-weight: 900;
    color: black;
    margin: 0; }
  .conference-calls p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px 30px 0px 30px; }
  .conference-calls button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    background-color: #e6faff;
    color: #31a8ca;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 60px 20px 60px;
    margin-top: 20px;
    margin-bottom: 40px; }
  .conference-calls .conference-calls-pictures img {
    max-width: 400px;
    padding: 20px; }
  .conference-calls .conference-calls-items {
    display: flex;
    flex-direction: column; }
    .conference-calls .conference-calls-items .conference-calls-items-left {
      display: flex;
      padding: 20px; }
      .conference-calls .conference-calls-items .conference-calls-items-left p {
        margin: 1;
        padding: 0; }
      .conference-calls .conference-calls-items .conference-calls-items-left img {
        width: 70px; }
    .conference-calls .conference-calls-items .conference-calls-items-right {
      display: flex;
      padding: 20px; }
      .conference-calls .conference-calls-items .conference-calls-items-right p {
        margin: 1;
        padding: 0; }
      .conference-calls .conference-calls-items .conference-calls-items-right img {
        width: 70px; }

.products-features {
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; }
  .products-features .products-features-container .products-features-items {
    position: relative; }

.slide {
  width: 250px;
  height: 350px; }

.back {
  width: 15px;
  height: 15px; }

.businesses-solution {
  padding: 20px;
  background-color: #f4effc;
  color: black; }
  .businesses-solution .businesses-solution-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .businesses-solution .businesses-solution-container .businesses-solution-pictures img {
      max-width: 300px; }
    .businesses-solution .businesses-solution-container .businesses-solution-itmes h1 {
      font-size: 40px; }
    .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-buttons {
      display: flex; }
      .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-buttons button {
        cursor: pointer;
        outline: none;
        text-decoration: none;
        background-color: #6d61b0;
        color: #fff;
        border: none;
        text-align: center;
        display: inline-block;
        font-weight: bold;
        border-radius: 30px;
        padding: 20px 40px 20px 40px;
        margin: 20px 20px 40px 0px; }
        .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-buttons button:last-of-type {
          color: #766e9b;
          background-color: #fff;
          padding: 20px 40px 20px 40px;
          margin: 20px 0px 40px 0px; }
    .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-rates {
      display: flex;
      margin: 20px 10px 20px 10px;
      padding: 10px 0px 10px 0px; }
      .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-rates p {
        font-size: 20px;
        padding: 0px 0px 0px 10px;
        margin: 0px; }
        .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-rates p a {
          font-weight: bold; }

.testimonials {
  padding: 40px 20px 40px 20px; }
  .testimonials h1 {
    font-size: 30px; }
  .testimonials .testimonials-container {
    color: black;
    background-color: #fff; }
    .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-left {
      padding: 20px 0px 20px 0px; }
      .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-left p {
        font-weight: bold; }
      .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-left .testimonials-opinion-container-left-item {
        display: flex;
        align-items: center; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-left .testimonials-opinion-container-left-item p {
          margin: 0;
          padding: 10px;
          max-width: 150px; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-left .testimonials-opinion-container-left-item img {
          width: 40px;
          height: 40px; }
    .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-middle {
      padding: 20px 0px 20px 0px; }
      .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-middle p {
        font-weight: bold; }
      .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-middle .testimonials-opinion-container-middle-item {
        display: flex;
        align-items: center; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-middle .testimonials-opinion-container-middle-item p {
          margin: 0;
          padding: 10px;
          max-width: 150px; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-middle .testimonials-opinion-container-middle-item img {
          width: 40px;
          height: 40px; }
    .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-right {
      padding: 20px 0px 20px 0px; }
      .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-right p {
        font-weight: bold; }
      .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-right .testimonials-opinion-container-right-item {
        display: flex;
        align-items: center; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-right .testimonials-opinion-container-right-item p {
          margin: 0;
          padding: 10px;
          max-width: 150px; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-right .testimonials-opinion-container-right-item img {
          width: 40px;
          height: 40px; }
    .testimonials .testimonials-container .testimonials-items .testimonials-items-info p {
      font-weight: 900; }
      .testimonials .testimonials-container .testimonials-items .testimonials-items-info p .testimonials-items-info-number {
        text-decoration: none;
        color: black;
        cursor: pointer; }
      .testimonials .testimonials-container .testimonials-items .testimonials-items-info p a {
        text-decoration: underline;
        color: #58b9d2;
        cursor: pointer; }

.blog {
  background: linear-gradient(#524496, #6d5dc0, #a89ce6); }
  .blog .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px 30px 0px; }
    .blog .blog-container h1 {
      position: relative;
      max-width: 260px; }
      .blog .blog-container h1::before {
        content: "";
        position: absolute;
        background-color: #fff6ff;
        width: 20%;
        height: 3px;
        top: -20px;
        left: 100px; }
    .blog .blog-container .blog-container-items .blog-container-items-left {
      margin: 0 auto;
      max-width: 260px;
      margin-bottom: 20px; }
      .blog .blog-container .blog-container-items .blog-container-items-left h2 {
        margin: 0;
        display: flex;
        text-align: left; }
      .blog .blog-container .blog-container-items .blog-container-items-left p {
        margin: 0;
        display: flex;
        text-align: left; }
    .blog .blog-container .blog-container-items .blog-container-items-middle {
      margin: 0 auto;
      max-width: 260px; }
      .blog .blog-container .blog-container-items .blog-container-items-middle h1 {
        margin: 0;
        display: flex;
        text-align: left; }
        .blog .blog-container .blog-container-items .blog-container-items-middle h1::before {
          display: none; }
      .blog .blog-container .blog-container-items .blog-container-items-middle p {
        margin: 0;
        display: flex;
        text-align: left; }
      .blog .blog-container .blog-container-items .blog-container-items-middle img {
        max-width: 260px; }
    .blog .blog-container .blog-container-items-right .blog-container-items-right-up {
      margin: 0 auto;
      max-width: 260px;
      margin-bottom: 20px; }
      .blog .blog-container .blog-container-items-right .blog-container-items-right-up h2 {
        margin: 0;
        display: flex;
        text-align: left; }
      .blog .blog-container .blog-container-items-right .blog-container-items-right-up p {
        margin: 0;
        display: flex;
        text-align: left; }
    .blog .blog-container .blog-right-down-text {
      margin: 0 auto;
      max-width: 260px;
      margin-bottom: 20px; }
      .blog .blog-container .blog-right-down-text h2 {
        margin: 0;
        display: flex;
        text-align: left; }
      .blog .blog-container .blog-right-down-text p {
        margin: 0;
        display: flex;
        text-align: left; }
    .blog .blog-container button {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      border-radius: 30px;
      padding: 20px 40px 20px 40px;
      margin-top: 20px;
      margin-bottom: 40px; }

.advertisement {
  margin-top: 20px;
  color: black; }
  .advertisement .advertisement-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eaeaea; }
    .advertisement .advertisement-items .advertisement-buttons {
      display: flex;
      padding: 10px;
      margin: 10px; }
      .advertisement .advertisement-items .advertisement-buttons button {
        cursor: pointer;
        outline: none;
        text-decoration: none;
        background-color: #6d61b0;
        color: #fff;
        border: none;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        border-radius: 30px;
        padding: 20px 50px 20px 50px;
        margin: 20px 0px 40px 10px; }
        .advertisement .advertisement-items .advertisement-buttons button:last-of-type {
          color: #8c83b7;
          background-color: #f0ebff;
          padding: 20px 50px 20px 50px; }

footer {
  margin-top: 20px;
  color: #81858a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  footer .footer-items-info {
    align-items: center;
    justify-content: center;
    text-align: center; }
  footer .footer-item-more-help .footer-item-more-on-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    footer .footer-item-more-help .footer-item-more-on-products ul {
      padding: 0;
      margin: 0; }
      footer .footer-item-more-help .footer-item-more-on-products ul li {
        text-decoration: none;
        list-style: none; }
  footer .footer-item-more-help .footer-item-help-and-support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    footer .footer-item-more-help .footer-item-help-and-support ul {
      padding: 0;
      margin: 0; }
      footer .footer-item-more-help .footer-item-help-and-support ul li {
        text-decoration: none;
        list-style: none; }
  footer .footer-item-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    footer .footer-item-features ul {
      padding: 0;
      margin: 0; }
      footer .footer-item-features ul li {
        text-decoration: none;
        list-style: none; }
  footer .footer-item-company-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    footer .footer-item-company-contact .footer-item-company ul {
      padding: 0;
      margin: 0; }
      footer .footer-item-company-contact .footer-item-company ul li {
        text-decoration: none;
        list-style: none; }
  footer .footer-item-contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    footer .footer-item-contact-us p {
      padding: 0;
      margin: 0; }
    footer .footer-item-contact-us a {
      color: #81858a;
      text-decoration: none;
      list-style: none;
      cursor: pointer; }
  footer .footer-item-copyright-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    footer .footer-item-copyright-media ul {
      padding: 0;
      margin: 0; }
      footer .footer-item-copyright-media ul li {
        text-decoration: none;
        list-style: none; }
    footer .footer-item-copyright-media .footer-item-media {
      align-items: center;
      width: 100%;
      display: flex;
      text-align: center;
      justify-content: center; }

@media (min-width: 992px) {
  nav {
    justify-content: space-between;
    flex-direction: row; }
    nav .hamburger {
      display: none; }
    nav .logo-section {
      margin-top: 0px; }
      nav .logo-section .logo {
        padding: 0px 40px 0px 0px; }
        nav .logo-section .logo p {
          font-size: 30px;
          margin: 0; }
          nav .logo-section .logo p span {
            font-weight: 900; }
        nav .logo-section .logo .menu-logo-img {
          width: 30px; }
      nav .logo-section .tel-logo-section {
        margin-left: 40px; }
        nav .logo-section .tel-logo-section .tel-logo-call-img {
          width: 20px;
          margin-right: 10px; }
        nav .logo-section .tel-logo-section .tel-logo-section-number {
          font-size: 17px; }
    nav .nav-items {
      width: auto;
      height: 100%;
      flex-direction: row;
      background: none;
      display: flex;
      margin-right: 50px; }
      nav .nav-items ul {
        flex-direction: row;
        margin-right: 20px; }
        nav .nav-items ul li {
          font-weight: 500;
          font-size: 17px;
          padding: 12px 40px 12px 40px; }
          nav .nav-items ul li:nth-of-type(4) {
            border-right: 1px solid #ffffff52; }
      nav .nav-items a {
        font-size: 17px;
        margin-left: 10px; }
      nav .nav-items button {
        padding: 20px;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 0; }
    nav .nav-items-active {
      display: none; }
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    header .banner {
      align-items: center;
      justify-content: space-around;
      max-width: 1140px;
      display: flex; }
      header .banner .banner-left {
        align-items: flex-start;
        margin-top: 50px;
        width: 50%;
        align-content: flex-end; }
        header .banner .banner-left h1 {
          max-width: 400px;
          height: auto;
          font-size: 80px;
          margin: 0;
          line-height: 1;
          margin-bottom: 30px; }
          header .banner .banner-left h1::before {
            width: 20%;
            height: 3px;
            top: -30px;
            left: 0px; }
        header .banner .banner-left p {
          font-size: 21.5px;
          max-width: 200px; }
        header .banner .banner-left button {
          margin-right: 20px; }
      header .banner .banner-right {
        margin-top: 50px;
        width: 50%;
        align-content: flex-end; }
        header .banner .banner-right .banner-right-pictures .banner-right-pictures-img {
          margin-top: 75px;
          width: auto;
          height: auto; }
  .conference-calls {
    display: flex;
    margin-top: 140px; }
    .conference-calls h2 {
      position: relative;
      font-size: 50px; }
      .conference-calls h2::before {
        content: "";
        position: absolute;
        background-color: black;
        width: 11%;
        height: 2px;
        top: -20px;
        left: 210px; }
    .conference-calls p {
      font-size: 20px;
      max-width: 650px;
      margin: 0 auto;
      padding: 10px; }
    .conference-calls .conference-calls-pictures {
      display: flex;
      justify-content: center;
      max-width: 1140px;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid #eaeaeb;
      padding: 40px 0px 40px 0px; }
      .conference-calls .conference-calls-pictures img {
        padding: 0;
        max-width: 100%; }
    .conference-calls .conference-calls-items {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%; }
      .conference-calls .conference-calls-items .conference-calls-items-left {
        padding: 10px; }
        .conference-calls .conference-calls-items .conference-calls-items-left p {
          padding: 10px;
          margin: 5px;
          font-size: 20px;
          font-weight: 600;
          max-width: 250px;
          text-align: left; }
        .conference-calls .conference-calls-items .conference-calls-items-left img {
          width: 120px; }
      .conference-calls .conference-calls-items .conference-calls-items-right {
        padding: 10px; }
        .conference-calls .conference-calls-items .conference-calls-items-right p {
          padding: 10px;
          margin: 5px;
          font-size: 20px;
          font-weight: 600;
          max-width: 250px; }
        .conference-calls .conference-calls-items .conference-calls-items-right img {
          width: 120px; }
  .products-features {
    color: black; }
    .products-features .products-features-container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 40px 0px 40px 0px; }
      .products-features .products-features-container .products-features-items {
        display: flex;
        align-items: flex-start; }
        .products-features .products-features-container .products-features-items h1 {
          font-size: 50px;
          max-width: 480px;
          text-align: left;
          line-height: 1;
          padding: 10px; }
  .businesses-solution .businesses-solution-container {
    display: flex;
    max-width: 1140px;
    flex-direction: row;
    padding: 0;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px; }
    .businesses-solution .businesses-solution-container .businesses-solution-pictures {
      width: 50%; }
      .businesses-solution .businesses-solution-container .businesses-solution-pictures img {
        max-width: 570px; }
    .businesses-solution .businesses-solution-container .businesses-solution-itmes {
      width: 50%;
      padding: 20px; }
      .businesses-solution .businesses-solution-container .businesses-solution-itmes h1 {
        line-height: 1.1;
        font-size: 70px;
        margin: 0; }
      .businesses-solution .businesses-solution-container .businesses-solution-itmes p {
        font-size: 25px; }
      .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-buttons {
        position: relative; }
        .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-buttons::before {
          content: "";
          position: absolute;
          background-color: #bbb7c5;
          width: 25%;
          height: 0.1px;
          bottom: 0px;
          left: 5px; }
        .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-buttons button:nth-of-type(1) {
          padding: 20px 50px 20px 40px; }
      .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-rates {
        padding: 0;
        font-size: 30px;
        margin: 40px 10px 40px 10px; }
        .businesses-solution .businesses-solution-container .businesses-solution-itmes .businesses-solution-itmes-rates p {
          padding: 10px 0px 10px 10px;
          max-width: 300px;
          margin-left: 20px; }
  .testimonials {
    padding: 100px; }
    .testimonials .testimonials-container {
      padding: 0;
      max-width: 1140px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0 auto; }
      .testimonials .testimonials-container h1 {
        font-size: 50px;
        max-width: 600px;
        padding: 10px; }
      .testimonials .testimonials-container .testimonials-opinion-container {
        padding: 10px;
        display: flex; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-left {
          padding: 0;
          font-size: 21px;
          max-width: 550px;
          margin: 20px 40px 20px 0px;
          padding: 25px 0px 25px 0px;
          border-bottom: 1px solid #f1f3f3; }
          .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-left .testimonials-opinion-container-left-item p {
            font-size: 17px;
            max-width: 170px;
            font-weight: bold; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-middle {
          font-size: 21px;
          max-width: 550px;
          margin: 20px 40px 20px 40px;
          padding: 25px 0px 25px 0px;
          border-bottom: 1px solid #f1f3f3; }
          .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-middle .testimonials-opinion-container-middle-item p {
            font-size: 17px;
            max-width: 170px;
            font-weight: bold; }
        .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-right {
          font-size: 21px;
          max-width: 550px;
          margin: 20px 40px 20px 40px;
          padding: 25px 0px 25px 0px;
          border-bottom: 1px solid #f1f3f3; }
          .testimonials .testimonials-container .testimonials-opinion-container .testimonials-opinion-container-right .testimonials-opinion-container-right-item p {
            font-size: 17px;
            max-width: 170px;
            font-weight: bold; }
      .testimonials .testimonials-container .testimonials-items {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%; }
        .testimonials .testimonials-container .testimonials-items .testimonials-items-logo img {
          padding: 20px; }
          .testimonials .testimonials-container .testimonials-items .testimonials-items-logo img:nth-of-type(1) {
            padding: 20px 20px 20px 0px; }
        .testimonials .testimonials-container .testimonials-items .testimonials-items-info {
          font-size: 20px;
          max-width: 300px;
          margin-right: 60px; }
  .blog {
    padding: 100px; }
    .blog .blog-container {
      padding: 0;
      width: 100%;
      max-width: 1140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
      .blog .blog-container h1 {
        padding: 10px;
        max-width: 600px;
        font-size: 50px; }
        .blog .blog-container h1::before {
          content: "";
          position: absolute;
          background-color: #fff6ff;
          width: 15%;
          height: 2px;
          top: -20px;
          left: 250px; }
      .blog .blog-container .blog-container-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .blog .blog-container .blog-container-items .blog-container-items-left {
          padding: 10px;
          margin: 0;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          text-align: end;
          justify-content: flex-end; }
        .blog .blog-container .blog-container-items .blog-container-items-middle {
          display: flex;
          flex-direction: column;
          padding: 30px;
          margin: 0;
          max-width: 100%; }
          .blog .blog-container .blog-container-items .blog-container-items-middle h1 {
            padding: 0;
            max-width: 100%;
            margin: 0;
            font-size: 40px; }
          .blog .blog-container .blog-container-items .blog-container-items-middle p {
            font-size: 20px; }
          .blog .blog-container .blog-container-items .blog-container-items-middle img {
            max-width: 100%;
            padding: 0; }
        .blog .blog-container .blog-container-items .blog-container-items-right {
          justify-content: space-between;
          padding: 30px 0px 0px 0px;
          margin: 0;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          text-align: end; }
      .blog .blog-container .blog-right-down-text {
        max-width: 1140px;
        width: 100%;
        align-items: flex-end;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        .blog .blog-container .blog-right-down-text h2 {
          max-width: 260px; }
        .blog .blog-container .blog-right-down-text p {
          max-width: 260px; }
  .advertisement {
    padding: 60px;
    margin: 0 auto; }
    .advertisement .advertisement-items {
      max-width: 1140px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto; }
      .advertisement .advertisement-items h1 {
        max-width: 500px;
        text-align: left;
        padding: 10px;
        font-size: 40px;
        color: #40484f; }
  footer {
    display: flex; }
    footer .footer-main {
      width: 100%;
      max-width: 1140px; }
      footer .footer-main .footer-items {
        align-items: center;
        justify-content: space-between;
        display: flex;
        align-items: flex-start; }
        footer .footer-main .footer-items .footer-items-info {
          margin-top: 21px;
          display: flex;
          text-align: left;
          flex-direction: column;
          align-items: flex-start; }
          footer .footer-main .footer-items .footer-items-info img {
            margin: 20px;
            margin-left: 10px; }
          footer .footer-main .footer-items .footer-items-info p {
            margin: 10px;
            max-width: 170px; }
      footer .footer-main .footer-item-more-help .footer-item-more-on-products h1 {
        margin: 5px;
        font-size: 20px; }
      footer .footer-main .footer-item-more-help .footer-item-more-on-products ul li {
        padding: 7px; }
      footer .footer-main .footer-item-help-and-support h1 {
        margin: 30px 5px 5px 5px;
        font-size: 20px; }
      footer .footer-main .footer-item-help-and-support ul li {
        padding: 7px; }
      footer .footer-main .footer-item-features h1 {
        margin: 5px;
        font-size: 20px; }
      footer .footer-main .footer-item-features ul li {
        padding: 7px; }
      footer .footer-main .footer-item-company-contact .footer-item-company h1 {
        margin: 5px;
        font-size: 20px; }
      footer .footer-main .footer-item-company-contact .footer-item-company ul li {
        padding: 7px; }
      footer .footer-main .footer-item-company-contact .footer-item-contact-us h1 {
        margin: 30px 5px 5px 5px;
        font-size: 20px; }
      footer .footer-main .footer-item-company-contact .footer-item-contact-us p {
        padding: 7px; }
      footer .footer-main .footer-item-company-contact .footer-item-contact-us a {
        padding: 7px; }
      footer .footer-main .footer-item-copyright-media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        align-items: center; }
        footer .footer-main .footer-item-copyright-media p {
          padding: 10px;
          max-width: 190px; }
        footer .footer-main .footer-item-copyright-media ul {
          display: flex; }
          footer .footer-main .footer-item-copyright-media ul li {
            padding: 10px;
            margin: 10px; }
      footer .footer-main .footer-item-media {
        width: 300px; }
        footer .footer-main .footer-item-media img {
          margin: 10px; } }
