* {
  box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

nav {
  padding: 15px;
  position: fixed;
  display: flex;

  .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      padding: 5px;
      padding-right: 20px;
      border-right: 1px solid #ffffff52;
      display: flex;
      .menu-logo-img {
        width: 20px;
      }
    }
    .tel-logo-section {
      margin-left: 10px;
      padding: 10px;
      .tel-logo-call-img {
        width: 15px;
      }
      .tel-logo-section-number {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 15px;
      }
    }
  }
  .nav-items{
    display: flex;
      .nav-items-list{
          
          .nav-items-list-item {
            padding: 10px;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            border-right: 1px solid #ffffff52;
            li {
                padding:10px;
            }
          }
      }
  }
  .login {
      padding: 10px;
      margin: 10px;
      button {
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.178);
          color: #fff;
          border: none;
          text-align: center;
          display: inline-block;
          font-size: 20px;
          border-radius: 40%;
          padding: 15px;

      }
  }
}
header {
  width: 1200px;
  height: 1200px;
  background: linear-gradient(slateblue, rgb(174, 163, 243));
  margin-left: auto;
  margin-right: auto;
}

/* @media (min-width: 576px) { } */

/* @media (min-width: 768px) { } */

/* @media (min-width: 992px) { } */

/* @media (min-width: 1200px) { } */
