* {
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  transition: 0.3s;

  .logo-section {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      font-size: 15px;
      padding: 10px;
      border-right: 1px solid #ffffff52;
      display: flex;
      .menu-logo-img {
        margin-right: 5px;
        width: 20px;
      }
    }
    .tel-logo-section {
      padding: 5px;
      margin-left: 10px;
      .tel-logo-call-img {
        width: 13px;
      }
      .tel-logo-section-number {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 15px;
      }
    }
  }
  .logo-section-mobile {
width: 100%;
margin-left: 0;
background-color: #524496;
  }
  .nav-items {
    height: calc(100vh - 62px);
    background: linear-gradient(slateblue, rgb(174, 163, 243));
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transform: translateX(-385px);
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        font-size: 30px;
        padding: 15px;

        list-style-type: none;
      }
    }
    a {
      font-size: 30px;
    }
    button {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.178);
      color: #fff;
      border: none;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      border-radius: 30px;
      padding: 20px;
      margin-top: 30px;
    }
  }
  .nav-items-active {
    transform: translateX(0px);
  }
}
.nav-background {
  background-color: transparent;
}
header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#524496, #6d5dc0, #a89ce6);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  .banner-left {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 75px;
    h1 {
      position: relative;
      margin: 0;
      text-align: left;
      &::before {
        content: "";
        position: absolute;
        background-color: #fff6ff;
        width: 20%;
        height: 3px;
        top: -10px;
        left: 0px;
      }
    }
    p {
      margin: 0;
      text-align: left;
      max-width: 300px;
    }
    button {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: #fff;
      color: #5645af;
      border: none;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      border-radius: 30px;
      padding: 20px 40px 20px 40px;
      margin-top: 20px;
      &:last-of-type {
        color: #fff;
        background-color: transparent;
        border: 1px solid white;
        padding: 20px 30px 20px 30px;
      }
    }
  }
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  .banner-right-pictures {
    .banner-right-pictures-img {
      width: 300px;
      height: 300px;
    }
  }
}
.hamburger {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  margin: 0;
  position: fixed;
  left: 10px;
  top: 15px;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
}
.hamburger-box {
  left: 0;
  width: 37px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 5px;
}
@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background: grey;
  position: absolute;
}
.hamburger-inner {
  @include hamburger-line;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
  &::before {
    @include hamburger-line;
    content: "";
    top: -10px;
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
  }
  &::after {
    @include hamburger-line;
    content: "";
    top: 10px;
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
  }
}
.hamburger-active .hamburger-inner {
  background-color: transparent;
}
.hamburger-active .hamburger-inner::before {
  transform: translateY(10px) rotate(-45deg);
}
.hamburger-active .hamburger-inner::after {
  transform: translateY(-10px) rotate(45deg);
}

.conference-calls {
  padding: 20px;
  margin-top: 40px;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-weight: 900;
    color: black;
    margin: 0;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px 30px 0px 30px;
  }
  button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    background-color: #e6faff;
    color: #31a8ca;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 60px 20px 60px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .conference-calls-pictures {
    img {
      max-width: 400px;
      padding: 20px;
    }
  }
  .conference-calls-items {
    display: flex;
    flex-direction: column;
    .conference-calls-items-left {
      display: flex;
      padding: 20px;
      p {
        margin: 1;
        padding: 0;
      }
      img {
        width: 70px;
      }
    }
    .conference-calls-items-right {
      display: flex;
      padding: 20px;
      p {
        margin: 1;
        padding: 0;
      }
      img {
        width: 70px;
      }
    }
  }
}
.products-features {
  color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    .products-features-container {
      .products-features-items {
        position: relative;
      }
    }
}
  
.slide {
  width: 250px;
  height: 350px;
}
.back {
  width: 15px;
  height: 15px;
}
.businesses-solution {
  padding: 20px;
  background-color: #f4effc;
  color: black;
  .businesses-solution-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .businesses-solution-pictures {
      img {
        max-width: 300px;
      }
    }
    .businesses-solution-itmes {
      h1 {
        font-size: 40px;
      }
      .businesses-solution-itmes-buttons {
        display: flex;
        button {
          cursor: pointer;
          outline: none;
          text-decoration: none;
          background-color: #6d61b0;
          color: #fff;
          border: none;
          text-align: center;
          display: inline-block;
          font-weight: bold;
          border-radius: 30px;
          padding: 20px 40px 20px 40px;
          margin: 20px 20px 40px 0px;
          &:last-of-type {
            color: #766e9b;
            background-color: #fff;
            padding: 20px 40px 20px 40px;
            margin: 20px 0px 40px 0px;
          }
        }
      }
      .businesses-solution-itmes-rates {
        display: flex;
        margin: 20px 10px 20px 10px;
        padding: 10px 0px 10px 0px;

        p {
          font-size: 20px;
          padding: 0px 0px 0px 10px;
          margin: 0px;
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.testimonials {
  padding: 40px 20px 40px 20px;
  h1 {
    font-size: 30px;
  }
  .testimonials-container {
    color: black;
    background-color: #fff;
    .testimonials-opinion-container {
      .testimonials-opinion-container-left {
        padding: 20px 0px 20px 0px;
        p {
          font-weight: bold;
        }
        .testimonials-opinion-container-left-item {
          display: flex;
          align-items: center;
          p {
            margin: 0;
            padding: 10px;
            max-width: 150px;
          }
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .testimonials-opinion-container-middle {
        padding: 20px 0px 20px 0px;
        p {
          font-weight: bold;
        }
        .testimonials-opinion-container-middle-item {
          display: flex;
          align-items: center;
          p {
            margin: 0;
            padding: 10px;
            max-width: 150px;
          }
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .testimonials-opinion-container-right {
        padding: 20px 0px 20px 0px;
        p {
          font-weight: bold;
        }
        .testimonials-opinion-container-right-item {
          display: flex;
          align-items: center;
          p {
            margin: 0;
            padding: 10px;
            max-width: 150px;
          }
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .testimonials-items {
      .testimonials-items-info {
        p {
          font-weight: 900;
          .testimonials-items-info-number {
            text-decoration: none;
            color: black;
            cursor: pointer;
          }
          a {
            text-decoration: underline;
            color: #58b9d2;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.blog {
  background: linear-gradient(#524496, #6d5dc0, #a89ce6);
  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px 30px 0px;
    h1 {
      position: relative;
      max-width: 260px;
      &::before {
        content: "";
        position: absolute;
        background-color: #fff6ff;
        width: 20%;
        height: 3px;
        top: -20px;
        left: 100px;
      }
    }
    .blog-container-items {
      .blog-container-items-left {
        margin: 0 auto;
        max-width: 260px;
        margin-bottom: 20px;
        h2 {
          margin: 0;
          display: flex;
          text-align: left;
        }
        p {
          margin: 0;
          display: flex;
          text-align: left;
        }
      }
      .blog-container-items-middle {
        margin: 0 auto;
        max-width: 260px;
        h1 {
          margin: 0;
          display: flex;
          text-align: left;
          &::before {
            display: none;
          }
        }
        p {
          margin: 0;
          display: flex;
          text-align: left;
        }
        img {
          max-width: 260px;
        }
      }
    }
    .blog-container-items-right {
      .blog-container-items-right-up {
        margin: 0 auto;
        max-width: 260px;
        margin-bottom: 20px;
        h2 {
          margin: 0;
          display: flex;
          text-align: left;
        }
        p {
          margin: 0;
          display: flex;
          text-align: left;
        }
      }
    }
    .blog-right-down-text {
      margin: 0 auto;
      max-width: 260px;
      margin-bottom: 20px;
      h2 {
        margin: 0;
        display: flex;
        text-align: left;
      }
      p {
        margin: 0;
        display: flex;
        text-align: left;
      }
    }
    button {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      border-radius: 30px;
      padding: 20px 40px 20px 40px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}
.advertisement {
  margin-top: 20px;
  color: black;

  .advertisement-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eaeaea;
    h1 {
    }
    .advertisement-buttons {
      display: flex;
      padding: 10px;
      margin: 10px;

      button {
        cursor: pointer;
        outline: none;
        text-decoration: none;
        background-color: #6d61b0;
        color: #fff;
        border: none;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        border-radius: 30px;
        padding: 20px 50px 20px 50px;
        margin: 20px 0px 40px 10px;
        &:last-of-type {
          color: #8c83b7;
          background-color: #f0ebff;
          padding: 20px 50px 20px 50px;
        }
      }
    }
  }
}

footer {
  margin-top: 20px;
  color: #81858a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .footer-items-info {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-item-more-help {
    .footer-item-more-on-products {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h1 {
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          text-decoration: none;
          list-style: none;
        }
      }
    }
    .footer-item-help-and-support {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h1 {
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          text-decoration: none;
          list-style: none;
        }
      }
    }
  }
  .footer-item-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        text-decoration: none;
        list-style: none;
      }
    }
  }
  .footer-item-company-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .footer-item-company {
      h3 {
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          text-decoration: none;
          list-style: none;
        }
      }
    }
  }
  .footer-item-contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h4 {
    }
    p {
      padding: 0;
      margin: 0;
    }
    a {
      color: #81858a;
      text-decoration: none;
      list-style: none;
      cursor: pointer;
    }
  }
  .footer-item-copyright-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        text-decoration: none;
        list-style: none;
      }
    }
    .footer-item-media {
      align-items: center;
      width: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}
// @media (min-width: 576px) {
// }
// @media (min-width: 768px) {
// }

@media (min-width: 992px) {
  nav {
    justify-content: space-between;
    flex-direction: row;
    .hamburger {
      display: none;
    }
    .logo-section {
      margin-top: 0px;
      .logo {
        padding: 0px 40px 0px 0px;

        p {
          font-size: 30px;
          margin: 0;
          span {
            font-weight: 900;
          }
        }
        .menu-logo-img {
          width: 30px;
        }
      }
      .tel-logo-section {
        margin-left: 40px;
        .tel-logo-call-img {
          width: 20px;
          margin-right: 10px;
        }
        .tel-logo-section-number {
          font-size: 17px;
        }
      }
    }
    .nav-items {
      width: auto;
      height: 100%;
      flex-direction: row;
      background: none;
      display: flex;
      margin-right: 50px;
      ul {
        flex-direction: row;
        margin-right: 20px;
        li {
          font-weight: 500;
          font-size: 17px;
          padding: 12px 40px 12px 40px;
          &:nth-of-type(4) {
            border-right: 1px solid #ffffff52;
          }
        }
      }
      a {
        font-size: 17px;
        margin-left: 10px;
      }
      button {
        padding: 20px;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 0;
      }
    }
    .nav-items-active {
      display: none;
    }
  }
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .banner {
      align-items: center;
      justify-content: space-around;
      max-width: 1140px;
      display: flex;
      .banner-left {
        align-items: flex-start;
        margin-top: 50px;
        width: 50%;
        align-content: flex-end;
        h1 {
          max-width: 400px;
          height: auto;
          font-size: 80px;
          margin: 0;
          line-height: 1;
          margin-bottom: 30px;
          &::before {
            width: 20%;
            height: 3px;
            top: -30px;
            left: 0px;
          }
        }
        p {
          font-size: 21.5px;
          max-width: 200px;
        }

        button {
          margin-right: 20px;
        }
      }

      .banner-right {
        margin-top: 50px;
        width: 50%;
        align-content: flex-end;

        .banner-right-pictures {
          .banner-right-pictures-img {
            margin-top: 75px;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  .conference-calls {
    display: flex;
    margin-top: 140px;
    h2 {
      position: relative;
      font-size: 50px;
      &::before {
        content: "";
        position: absolute;
        background-color: black;
        width: 11%;
        height: 2px;
        top: -20px;
        left: 210px;
      }
    }
    p {
      font-size: 20px;
      max-width: 650px;
      margin: 0 auto;
      padding: 10px;
    }

    .conference-calls-pictures {
      display: flex;
      justify-content: center;
      max-width: 1140px;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid #eaeaeb;
      padding: 40px 0px 40px 0px;
      img {
        padding: 0;
        max-width: 100%;
      }
    }

    .conference-calls-items {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      .conference-calls-items-left {
        padding: 10px;
        p {
          padding: 10px;
          margin: 5px;
          font-size: 20px;
          font-weight: 600;
          max-width: 250px;
          text-align: left;
        }
        img {
          width: 120px;
        }
      }
      .conference-calls-items-right {
        padding: 10px;
        p {
          padding: 10px;
          margin: 5px;
          font-size: 20px;
          font-weight: 600;
          max-width: 250px;
        }
        img {
          width: 120px;
        }
      }
    }
  }
  .products-features {
    color: black;
    
    .products-features-container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 40px 0px 40px 0px;
      .products-features-items {
        display: flex;
        align-items: flex-start;
        h1 {
          font-size: 50px;
          max-width: 480px;
          text-align: left;
          line-height: 1;
          padding: 10px;
        }
      }
    }
  }
  .businesses-solution {
    .businesses-solution-container {
      display: flex;
      max-width: 1140px;
      flex-direction: row;
      padding: 0;
      align-items: flex-end;
      justify-content: center;
      margin: 0 auto;
      margin-top: 100px;
      .businesses-solution-pictures {
        width: 50%;
        img {
          max-width: 570px;
        }
      }
      .businesses-solution-itmes {
        width: 50%;
        padding: 20px;
        h1 {
          line-height: 1.1;
          font-size: 70px;
          margin: 0;
        }
        p {
          font-size: 25px;
        }
        .businesses-solution-itmes-buttons {
          position: relative;
            &::before {
              content: "";
              position: absolute;
              background-color: #bbb7c5;
              width: 25%;
              height: 0.1px;
              bottom: 0px;
              left: 5px;
            }
            button {
              &:nth-of-type(1) {
                padding: 20px 50px 20px 40px
              }
            }
          }
        
        .businesses-solution-itmes-rates {
          padding: 0;
          font-size: 30px;
          margin: 40px 10px 40px 10px;
          p {
            padding: 10px 0px 10px 10px;
            max-width: 300px;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .testimonials {
    padding: 100px;
    .testimonials-container {
      padding: 0;
      max-width: 1140px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0 auto;
      h1 {
        font-size: 50px;
        max-width: 600px;
        padding: 10px;
      }
      .testimonials-opinion-container {
        padding: 10px;
        display: flex;
        .testimonials-opinion-container-left {
          padding: 0;
          font-size: 21px;
          max-width: 550px;
          margin: 20px 40px 20px 0px;
          padding: 25px 0px 25px 0px;
          border-bottom: 1px solid #f1f3f3;
          .testimonials-opinion-container-left-item {
            p {
              font-size: 17px;
              max-width: 170px;
              font-weight: bold;
            }
          }
        }
        .testimonials-opinion-container-middle {
          font-size: 21px;
          max-width: 550px;
          margin: 20px 40px 20px 40px;
          padding: 25px 0px 25px 0px;
          border-bottom: 1px solid #f1f3f3;
          .testimonials-opinion-container-middle-item {
            p {
              font-size: 17px;
              max-width: 170px;
              font-weight: bold;
            }
          }
        }
        .testimonials-opinion-container-right {
          font-size: 21px;
          max-width: 550px;
          margin: 20px 40px 20px 40px;
          padding: 25px 0px 25px 0px;
          border-bottom: 1px solid #f1f3f3;
          .testimonials-opinion-container-right-item {
            p {
              font-size: 17px;
              max-width: 170px;
              font-weight: bold;
            }
          }
        }
      }
      .testimonials-items {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .testimonials-items-logo {
          img {
            padding: 20px;
            &:nth-of-type(1) {
              padding: 20px 20px 20px 0px;
            }
          }
        }
        .testimonials-items-info {
          font-size: 20px;
          max-width: 300px;
          margin-right: 60px;
        }
      }
    }
  }
  .blog {
    padding: 100px;
    .blog-container {
      h1 {
        padding: 10px;
        max-width: 600px;
        font-size: 50px;
        &::before {
          content: "";
          position: absolute;
          background-color: #fff6ff;
          width: 15%;
          height: 2px;
          top: -20px;
          left: 250px;
        }
      }
      padding: 0;
      width: 100%;
      max-width: 1140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      .blog-container-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .blog-container-items-left {
          padding: 10px;
          margin: 0;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          text-align: end;
          justify-content: flex-end;
          h1 {
          }
          p {
          }
        }
        .blog-container-items-middle {
          display: flex;
          flex-direction: column;
          padding: 30px;
          margin: 0;
          max-width: 100%;
          h1 {
            padding: 0;
            max-width: 100%;
            margin: 0;
            font-size: 40px;
          }
          p {
            font-size: 20px;
          }
          img {
            max-width: 100%;
            padding: 0;
          }
        }
        .blog-container-items-right {
          justify-content: space-between;
          padding: 30px 0px 0px 0px;
          margin: 0;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          text-align: end;
        }
      }
      .blog-right-down-text {
        max-width: 1140px;
        width: 100%;
        align-items: flex-end;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h2 {
          max-width: 260px;
        }
        p {
          max-width: 260px;
        }
      }
    }
  }
  .advertisement {
    padding: 60px;
    margin: 0 auto;
    .advertisement-items {
      max-width: 1140px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      h1 {
        max-width: 500px;
        text-align: left;
        padding: 10px;
        font-size: 40px;
        color: #40484f;
      }
    }
  }
  footer {
    display: flex;
    .footer-main {
      width: 100%;
      max-width: 1140px;
      .footer-items {
        align-items: center;
        justify-content: space-between;
        display: flex;
        align-items: flex-start;
        .footer-items-info {
          margin-top: 21px;
          display: flex;
          text-align: left;
          flex-direction: column;
          align-items: flex-start;
          img {
            margin: 20px;
            margin-left: 10px;
          }
          p {
            margin: 10px;
            max-width: 170px;
          }
        }
      }
      .footer-item-more-help {
        .footer-item-more-on-products {
          h1 {
            margin: 5px;
            font-size: 20px;
          }
          ul {
            li {
              padding: 7px;
            }
          }
        }
      }
      .footer-item-help-and-support {
        h1 {
          margin: 30px 5px 5px 5px;
          font-size: 20px;
        }
        ul {
          li {
            padding: 7px;
          }
        }
      }
      .footer-item-features {
        h1 {
          margin: 5px;
          font-size: 20px;
        }
        ul {
          li {
            padding: 7px;
          }
        }
      }
      .footer-item-company-contact {
        .footer-item-company {
          h1 {
            margin: 5px;
            font-size: 20px;
          }
          ul {
            li {
              padding: 7px;
            }
          }
        }
        .footer-item-contact-us {
          h1 {
            margin: 30px 5px 5px 5px;
            font-size: 20px;
          }
          p {
            padding: 7px;
          }
          a {
            padding: 7px;
          }
        }
      }

      .footer-item-copyright-media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        align-items: center;
        p {
          padding: 10px;
          max-width: 190px;
        }
        ul {
          display: flex;
          li {
            padding: 10px;
            margin: 10px;
          }
        }
      }
      .footer-item-media {
        width: 300px;
        img {
          margin: 10px;
        }
      }
    }
  }
}
// @media (min-width: 1200px) {
// }
